@import url(http://webfonts-plus.herokuapp.com/?family=Montserrat);

* {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}
h1 {
    font-weight: 400;
    font-style: normal;
    /*font-size: 13px;*/
}