/*
 * Thin 
 * ExtraLight
 * Light
 * Regular
 * Medium
 * SemiBold
 * Bold
 * Black
 * Super
 */

@font-face {
    font-family: 'Graphik';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/Graphik/Graphik-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/Graphik/Graphik-ExtraLight.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/Graphik/Graphik-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/Graphik/Graphik-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/Graphik/Graphik-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/Graphik/Graphik-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/Graphik/Graphik-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/Graphik/Graphik-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/Graphik/Graphik-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/Graphik/Graphik-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/Graphik/Graphik-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/Graphik/Graphik-Thin.otf') format('opentype');
}